{% extends 'dashboard_layout.html.twig' %}

{% block title %}Update your profile{% endblock %}

{% block body %}
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">My Profile</li>
        <li class="breadcrumb-item active">Change Password</li>
    </ol>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Change password</h5>
                <div class="card-body">
                    {{ form(passwordUpdateForm) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}