<div class="sidebar-sticky">
    <ul class="nav flex-column">
        {# Homepage of an administrator #}
        <li class="nav-item">
            <a class="nav-link {{ currentPath == "/admin" ? "active" : "" }}" href="#">
                <span data-feather="home"></span>
                Dashboard <span class="sr-only">(current)a</span>
            </a>
        </li>

        {# Manage Users for this App #}
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="user-check"></span>
                Users
            </a>
        </li>

        {# Access un-restricted Feed & monitor them #}
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="rss"></span>
                Feeds
            </a>
        </li>

        {# Manage Group for this app #}
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="users"></span>
                Groups
            </a>
        </li>

        {# Get some performance/business analytical reports #}
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="bar-chart-2"></span>
                Reports
            </a>
        </li>

        {# Manage notification #}
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="bell"></span>
                Notifications <span class="text-danger">(5)</span>
            </a>
        </li>
    </ul>

    {# As an admin you have also a social feed, go back quick link to go back to user's homepage #}
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-secondary" href="{{ path("app_homepage") }}">
                <span data-feather="arrow-left"></span>
                Go back to Feeds
            </a>
        </li>
    </ul>

</div>