{% extends "emails/actions_layout.html.twig" %}

{% block body %}
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-block">
                Hello {{ user.getFirstName ~ ' ' ~ user.getLastName }},
            </td>
        </tr>
        <tr>
            <td class="content-block">
                Reset your password by clicking the link below.
            </td>
        </tr>
        <tr>
            <td class="content-block">
                If you aren't aware of this request. Please let us know by writing at {{ app_global.support_email }}.
            </td>
        </tr>
        <tr>
            <td class="content-block">
                <a href="{{ password_reset_link }}" class="btn-primary">Reset Password</a>
            </td>
        </tr>
        <tr>
            <td class="content-block">
                &mdash; {{ app_global.name }}
            </td>
        </tr>
    </table>
{% endblock %}