{% extends 'auth_layout.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
    <div class="col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Password Recovery</h3></div>
            <div class="card-body">
                <div class="small mb-3 text-muted">Enter your email address and we will send you a link to reset your password.</div>
                {{ form(reset_form) }}
            </div>
            <div class="card-footer text-center">
                <div class="small"><a href="{{ path('app_signup') }}">Need an account? Sign up!</a></div>
            </div>
        </div>
    </div>
{% endblock %}